html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(0deg, rgb(171, 136, 203) 0%, rgb(16, 0, 60) 100%);
  margin: 0;
  font-family: "Merriweather", serif;
  color: #fff;
}
#title {
  color: #333;
}

h2 {
  border-bottom: 1px solid #cc1;
  font-family: "Oxygen", Sans-Serif;
  font-size: 3em;
  color: #fff;
}

p {
  line-height: 1.6em;
  color: #eee;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main {
  margin: 10vh 1em 10vh;
}

section {
  position: relative;
  min-height: 80vh;
}

.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3ch;
}

.navbar__menu li {
  display: inline-block;
}

.navbar__menu .menuLink {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbarActive {
  background: rgb(158, 158, 158);
  color: #fff;
  transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Footer Styles */
.pageFooter {
  background: #000;
  padding: 3em;
  color: #fff;
}

.pageFooter p {
  color: #fff;
}

/* Landing Container Styles */
.container {
  padding: 1em;
  text-align: left;
}

section:nth-of-type(even) .container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* Background Circles */
/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .container::before {
  content: "";
  background: rgba(36, 133, 172, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .container::before {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n) .container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(45, 161, 144, 0.552) 0%,
    rgba(61, 150, 39, 0.2) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}
*/

/* ---- Theme State Rules ---- */
/* Section Active Styles */

section.activeClass .container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.activeClass .container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}
@media only screen and (min-width: 45em) {
  .container {
    max-width: 50em;
    padding: 4em;
  }
  .navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 2ch;
  }
}
@media only screen and (max-width: 530px) {
  h1 {
    font-size: 1.5ch;
  }
}
